





<div class="row">
  <div class="col-md-4">
    <div>
      <div class="brdr w-25"></div>
      <h4>Tasty</h4>
      <h4>Recipes</h4>
      <h4>To try now</h4>
      <span class="mySpan">Best of recipes we have</span>
      <div class="brdr w-100"></div>
    </div>
  </div>
  <div *ngIf="!loading" class="row">
    <div *ngFor="let recipe of recipes" class="col-md-2 my-3">
      <app-recipeitem [data]="recipe"></app-recipeitem>
    </div>
  </div>
  <div class="text-center w-100" *ngIf="loading">
    <app-spinner></app-spinner>
  </div>
</div>





